.wrapper {
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  border: 1px solid var(--grey-color);
  border-radius: 40px;
  padding: 40px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 24px 0;
}

.empty {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey-color);
  border-radius: 16px;
  padding: 20px;
  gap: 12px;
}

.linkText {
  color: var(--text-grey-color);
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-grey-color);
}

.link:visited {
  color: var(--text-grey-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.name {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-grey-color);
  flex: 1;
}

.amount {
  font-weight: bold;
  font-size: 18px;
  color: var(--yellow-color);
}

.date {
  color: var(--text-grey-color);
}

.message {
  margin: 0;
  color: var(--text-grey-color);
  line-height: 1.4;
}
