.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--grey-color);
  border-radius: 20px;
  padding: 32px;
  gap: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.date {
  font-size: 14px;
}

.deleteButton {
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: transparent;
  color: var(--error-red-color);
  border: 1px solid var(--error-red-color);
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: rgba(255, 0, 0, 0.1);
}

.error {
  color: var(--error-red-color);
  font-size: 14px;
  margin-top: 12px;
}
