.wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--grey-color);
  border-radius: 20px;
  padding: 32px;
  gap: 24px;
}

.title {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  color: var(--text-grey-color);
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--grey-color);
  border-radius: 12px;
  padding: 16px;
  gap: 16px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-grey-color);
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.amount {
  font-weight: bold;
  font-size: 16px;
  color: var(--yellow-color);
  flex-shrink: 0;
}
