.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  border: 1px solid var(--grey-color);
  border-radius: 20px;
  padding: 40px;
}

.formTitle {
  color: var(--text-grey-color);
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.label {
  font-size: 18px;
  color: var(--text-grey-color);
  padding-left: 16px;
  margin-bottom: -5px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.formInput {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  background-color: var(--grey-color);
}

.editorWrapper {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--grey-color);
}

.errorText {
  color: var(--error-red-color);
  font-size: 14px;
  margin-top: -10px;
  margin-left: 15px;
}

.serverError {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.submitButton {
  width: 100%;
  padding: 14px 24px;
  border-radius: 20px;
  border: none;
  background-color: var(--orange-color);
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.submitButton:disabled {
  cursor: not-allowed;
}
