.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--grey-color);
  border-radius: 20px;
  padding: 40px;
}

.formTitle {
  color: var(--white-color);
  font-size: 24px;
  margin-bottom: 30px;
}

.serverError {
  color: var(--error-red-color);
  margin-bottom: 20px;
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-bottom: 30px;
}

.formInput {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: var(--grey-color);
  font-size: 16px;
}

.errorText {
  color: var(--error-red-color);
  font-size: 14px;
  margin-top: -10px;
  margin-left: 15px;
}

.submitButton {
  width: 100%;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  background-color: var(--orange-color);
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.authSwitch {
  display: flex;
  gap: 8px;
}

.authSwitch a {
  color: var(--link-color);
  text-decoration: none;
}
