.wrapper {
  width: 100%;
  max-width: 900px;
  border: 1px solid var(--grey-color);
  border-radius: 40px;
  padding: 40px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 24px 0;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
